/*  =================== google fonts markup ================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*  =================== google fonts markup ================ */

/* ============= common css =========== */


*{
    margin:0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}

ul,li,ol{
    list-style: none;
}


a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

html{
    scroll-behavior: smooth;
}


br,img,ul,li,ol,div,p,span,section,button{
    margin: 0;
    padding: 0;
}

/* 5F35F5 */

:root{
    --primary_color:#5F35F5;
    --secondary_color:#E21B70;
    --roboto: "Roboto", serif;
}

/* ============= common css =========== */

		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background:var(--white_color) !important;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background:white;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: var(--secondary_color);

		}

		.login_btn {
			width: 60%;
			background:var(--secondary_color) !important;
			color: white !important;
			font-family: var(--roboto);
            font-weight: 600;
            font-size: 22px;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: var(--primary_color) !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}

		.SignUP{
			color: var(--primary_color);
			font-family: var(--roboto);
            font-weight: 600;
            
		}
        .SignUP:hover{
            text-decoration: none;
            color: var(--secondary_color);
        }


        .links{
            font-family: var(--roboto);
            font-weight: 500;
            color: var(--secondary_color);
        }
