/*  =================== google fonts markup ================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*  =================== google fonts markup ================ */

/* ============= common css =========== */


*{
    margin:0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}

ul,li,ol{
    list-style: none;
}


a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

html{
    scroll-behavior: smooth;
}


br,img,ul,li,ol,div,p,span,section,button{
    margin: 0;
    padding: 0;
}

/* 5F35F5 */

:root{
    --primary_color:#5F35F5;
    --secondary_color:#E21B70;
    --roboto: "Roboto", serif;
}

/* ============= common css =========== */

/* ============== header ============= */

.header{
    background-color:white;
    padding: 10px 0;
    
}

.searchfield{
    width: 800px;
    height: 40px;
    font-family: var(--roboto);
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--primary_color);
    
    
    
}

.searchBtn{
    background-color: var(--primary_color);
    color: white;
    width: 111px;
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    
   

}

.searchBtn:hover{
    background-color: var(--secondary_color);
    color: white;
    
}


.logINSignUpBtn{
    background-color: var(--secondary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    margin-left: 100px;
    cursor: pointer;
    
}

.logINSignUpBtnText{
    color: white;
    line-height: 18px;
    
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 400;
}

.logINSignUpBtnText:hover{
    color: white;
}

.logout{
    color: var(--primary_color);
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 22px;
    margin-left: 30px;
}

.logout:hover{
    color: var(--secondary_color);
    
}

.user{
    color: var(--secondary_color);
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 600;
}

/* ============== header ============= */


/* =============== navbar ========= */

.navbar{
    background-color:var(--primary_color);
}


.logo{
    width: 120px;
    height: 60px;
}

.navItem{
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.navItem:hover{
    color:white;
}


.MyProfileBtn{


    background-color: white;
    border-radius: 5px;
    border: none;
    color: var(--secondary_color);
    width: 111px;
    height: 45px;
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;

}
/* =============== navbar ========= */



/*============  addProfile button ========= */


.addButton{
    width:90px;
    height:40px;
    border-radius: 5px;
    background-color: var(--secondary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}


.profile-edit-btn{
    color:white;
    font-family: var(--roboto);
}

.profile-edit-btn:hover{
    color:white
}

.userInfo{
    font-family: var(--roboto);
}

.userInfoTitle{
    font-family: var(--roboto);
}

.profile_pic{

 max-width:100px !important;
 max-height:100px !important;

}


/*============  addProfile button ========= */